
body{
    background-color:   black;;
}

.counter {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    padding-right: 11px;
    margin-top: 10px;
    display: inline-flex;
}

